body {
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
}
:root {
  --logo-color-black: rgba(0, 0, 0, 1);
  --main-color-black: rgba(33, 33, 33, 1);
  --main-color-blue: rgba(33, 150, 243, 1);
  --main-color-white: rgba(255, 255, 255, 1);
  --main-color-text: rgba(117, 117, 117, 1);
  --hero-color: rgba(47, 48, 58, 1);
  --button-color-port: rgba(245, 244, 250, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
.line {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.addres-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.head-list {
  display: flex;
  margin-left: 93px;
}

.main-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web-blue {
  color: var(--main-color-blue);
}
.logo-black {
  color: var(--logo-color-black);
}

.head-list .link {
  display: block;

  padding: 30px 0;
  margin: 0;
  text-decoration: none;
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
}
.head-list .link.current {
  color: var(--main-color-blue);
}
.head-list .link:hover,
.head-list .link:focus {
  color: var(--main-color-blue);
}

.head-list .item + .item {
  margin-left: 50px;
}

.head-info .head-item:not(:first-child) {
  margin-left: 50px;
}

.head-info {
  display: flex;
  margin-left: auto;
}

.head-info .mail,
.head-info .tel {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
}

.head-info .mail:hover,
.head-info .mail:focus,
.head-info .tel:hover,
.head-info .tel:focus {
  color: var(--main-color-blue);
}
.info {
  /* изза сслыки не наследует цвет из "body" */
  color: var(--main-color-text);
  text-decoration: none;
  background-color: var(--main-color-white);
}
.hero {
  background-color: var(--hero-color);
  padding: 200px 0;
}
.hero h1 {
  color: var(--main-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  border-color: transparent;
  display: block;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  color: var(--main-color-white);
  background-color: var(--main-color-blue);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
}
.button:focus {
  color: var(--main-color-white);
  background-color: var(--main-color-text);
}
.button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.about {
  display: flex;
}

.about .about-us + .about-us {
  margin-left: 30px;
}

.solid {
  padding-top: 94px;
}
.benefits {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.affair {
  padding-top: 94px;
  padding-bottom: 94px;
}

.corect {
  margin-top: 50px;
}

.picture {
  display: flex;
}
.picture .photo + .photo {
  margin-left: 30px;
}

.triple-picture {
  display: block;
}

.our-team {
  background-color: var(--button-color-port);
  padding: 94px 0;
}

.team-head {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.team .info + .info {
  margin-left: 30px;
}

.our-team .names {
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.our-team .post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.our-team .info {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.names {
  margin-bottom: 10px;
}

.team-between {
  padding: 30px 0;
}

.midle {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-port {
  display: flex;
  justify-content: center;
}
.button-port .btn:not(:first-child) {
  margin-left: 8px;
}

.button-port button {
  background-color: var(--button-color-port);
  border-radius: 4px;
  border: 0;
  height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-port button:hover,
.button-port button:focus {
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  cursor: pointer;
}
.first {
  width: 73px;
}
.sec {
  width: 125px;
}
.thirh {
  width: 112px;
}
.fourth {
  width: 103px;
}
.fifth {
  width: 130px;
}

.pick {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.pick .between-photo {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.pick .between-photo:nth-child(3n) {
  margin-right: 0px;
}

.pick .between-photo:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.menu-cont {
  padding: 20px 24px;
}

.pick a {
  text-decoration: none;
}
.pick .photo-name {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.pick .text-name {
  padding-top: 4px;

  color: var(--main-color-text);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.footer-port {
  margin-top: 94px;
}

.footer {
  background-color: var(--hero-color);
  padding: 60px 0;
}

.logo-white {
  color: var(--main-color-white);
}
.footer-link {
  text-decoration: none;
}
.foot {
  font-style: normal;
}
.street {
  margin-top: 20px;
  color: var(--main-color-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.foot-link {
  margin-top: 9px;
}

.foot-info {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.foot-info:focus,
.foot-info:hover {
  color: var(--main-color-blue);
}
